/* -------------------- CSSは一番下から書き始めてください！ -------------------- */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }

  header {
    height: 65px;
    width: 100%;
    background-color:#993333;
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .header-left{
    float:left;
  }
  .header-left h1{
    color:white;
    font-family: 'Arial Black',sans-serif;
    margin-left:30px;
  }

  .header-right{
    float:right;
    font-size:15px;
    margin-top:25px;

  }

  .header-right a{
    color:white;
    margin-right:15px;
  }

  .top-wrapper{
    position: absolute;
    top:80px;
    bottom:100px;
    width:100%;

  }

.form{
    width: 100%;
    position:fixed;
    bottom: 0 ;
    background-color:#666666;
    padding-left:30px;
    opacity:0.9;
}